.date {
	display: flex;
	text-align: center;
	justify-content: space-between;
  column-width: 1fr;
	background-color: var(--background-color-calendar);
	font-size: 15px;
	color: var(--color-text);
	border-radius: 5px;
	padding: 5px 5px;
	/*margin-bottom: 15px;*/
	text-transform: capitalize;
	overflow: hidden;
	width: 450px;
  height: 3rem;
}

@media screen and (max-width: 450px) {
	.date {
		width: 98vw;
		border-radius: 5px;
		text-transform: capitalize;
		background-color: var(--background-color-calendar);
		overflow: hidden;
	}
}

/*@media screen and (min-width: 1024px) {*/
/*	.date {*/
/*		width: 800px;*/
/*		border-radius: 5px;*/
/*		text-transform: capitalize;*/
/*		background-color: var(--background-color-calendar);*/
/*	}*/
/*}*/
