.week {
	height: 20px;
	font-weight: 500;
	font-size: 11px;
	color: var(--color-additional);
	text-align: center;
	align-items: center;
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	gap: 1px 1px;
	margin: 5px 0;

}
