.day {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 3rem;
	border-radius: 5px;
	padding: 8px 0;
	cursor: pointer;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);

}

.day:hover {
	background-color: var(--color-additional);
}

.additional {
  padding: 6px;
  font-weight: 300;
  cursor: pointer;
  color: var(--color-placeholder);
}

.today {
	background-color: var(--background-color-calendar-header);
}

.picked {
	color: var(--color-text);
	background-color: var(--color-additional);
}

.picked:hover {
	background-color: var(--color-additional);
}