.days {
  font-size: 20px;
  font-weight: 400;
  color: var(--color-text);
  text-align: center;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 1fr;
  gap: 1px 1px;
}

.months {
  font-size: 14px;
  font-weight: 400;
  color: var(--color-text);
  text-align: center;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 1px 1px;
}

.LeftEnter {
  transform: translateX(-100%);
  opacity: 0;
}

.LeftEnterActive {
  transform: translateX(0);
  opacity: 1;
  transition: transform 300ms, opacity 300ms;
}

.LeftExit {
  transform: translateX(-100%);
  opacity: 0;
}

.LeftExitActive {
  transform: translateX(0);
  opacity: 1;
  transition: transform 300ms, opacity 300ms;
}

.RightEnter {
  transform: translateX(100%);
  opacity: 0;
}

.RightEnterActive {
  transform: translateX(0);
  opacity: 1;
  transition: transform 300ms, opacity 300ms;
}

.RightExit {
  transform: translateX(100%);
  opacity: 0;
}

.RightExitActive {
  transform: translateX(0);
  opacity: 1;
  transition: transform 300ms, opacity 300ms;
}